# See http://help.github.com/ignore-files/ for more about ignoring files.

*.exe
*.dll
*.obj
*.db
*.cache
*.pdb
*.suo
*.zip
*.force
*.opendb
*.user
*.sdf
*.BAK

~*.*

obj/
bin/


m1/StateViewer/.vs/*
m1/StateViewer/obj/*
m1/StateViewer/bin/*
m1/StateViewer/packages/*

m1/StateViewer/StateViewer/bin/Debug/StateGo.exe.CodeAnalysisLog.xml

Work/*
head.txt
