@charset "UTF-8";
/*===============================

  リセットCSS（HTML5 Doctor Reset CSS）

================================*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* リセットCSSに追加した分↓ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*===============================

  共通

================================*/
html, body {
  background: #fff;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1180px;
}

/*===============================

  各スタイル

================================*/
#contents {
  margin-top: 50px;
}

#sidebar {
  float: left;
  width: 30%;
}

#main {
  float: right;
  width: 70%;
}

#main::after {
  content: '';
  display: block;
  clear: both;
}

.item {
  width: 90%;
  margin-bottom: 2em;
  margin-left: 3em;
  position: relative;
  line-height: 1.4;
  padding: 0.25em 1em;
  display: inline-block;
  top: 0;
}

.title {
  color: #4144FF;
  font-size: 24px;
}

.desc {
  margin-top: 1em;
  padding: 1em 2em;
  line-height: 200%;
  border: 1px solid #999;
}

.j_or_e {
  right: 20px;
  text-align: right;
}

.lang_a {
  padding: 5px;
  font-style: italic;
}

.outline {
  padding: 15px;
  background: #FDF5E6;
}

.outlinetitle {
  font-size: 30px;
  font-style: italic;
}

.outlineitem {
  font-size: 18px;
}

.tocitem {
  display: inline-block;
  padding: 8px 12px;
}

.toc {
  border-bottom: solid 3px black;
}

.toclist {
  border: 1px solid #999;
}

.toctitle {
  padding: 8px;
  border-bottom: 1px solid #999;
  width: 100%;
}

.toctitle:last-child {
  border-bottom: none;
}

.toctitle a {
  display: inline-block;
  width: 100%;
}

.itemlink {
  text-decoration:underline;
  list-style: disc;
}

.item a {
  text-decoration:underline;
  list-style: disc;
}

.desc a {
  text-decoration:underline;
  list-style: disc;
}

.smallpart li a {
  text-decoration:underline;
  list-style: disc;
}


pre {
  background-color: #E0FFFF;
  padding-top: 0em;
  padding-left:2em;
  margin-left: 1em;
}
